*{
    font-family: 'Poppins','sans-serif';
}
.h-font{
    font-family: 'Merienda', cursive;
}


input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
-webkit-appearance: none;
margin: 0;
}


input[type=number] {
-moz-appearance: textfield;
}
.custom-bg{
background-color: green;

}
.custom-bg:hover{
background-color: red;
}
.availability-form{
margin-top: -50px;
z-index: 2;
position: relative;
}

@media screen and (max-width :575px){
.availability-form{
margin-top: 25px;
z-index: 2;
padding: 0 35px ;

}
}